<nav class="navbar">
    <div class="navbar-left">
        <!-- <i class="bi bi-person-circle profile-icon"></i> -->
        <div class="profile-wrapper">
            <img *ngIf="user?.image" [src]="user.image" alt="Profile" class="profile-image">
            <i *ngIf="!user?.image" class="bi bi-person-circle profile-icon">
            </i>
        </div>

        <div class="user-info">
            <span class="user-name">
                {{user.firstName}} {{user.lastName}}
            </span>
            <span class="user-email">
                {{user.email}}
            </span>
        </div>
    </div>
    <div class="navbar-right">
        <!-- Theme Toggle -->
        <button class="theme-btn" (click)="toggleTheme()">
            <i *ngIf="!isDarkMode" class="bi bi-moon-fill">
            </i>
            <i *ngIf="isDarkMode" class="bi bi-sun-fill">
            </i>
        </button>
        <button class="logout-btn" (click)="logout()">
            Logout
        </button>
    </div>
</nav>