.navbar {
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;

  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.app-name {
  font-size: 20px;
  font-weight: 600;
}

.logout-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}
.navbar {
  margin: 0;
  padding: 0 20px;
}
.profile-icon {
  font-size: 35px;
  color: #2563eb;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-icon {
    font-size: 42px;
    color: #2563eb;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 15px;
    font-weight: 600;
    color: #111827;
    line-height: 1.2;
}

.user-email {
    font-size: 12px;
    color: #6b7280;
    line-height: 1.2;
}


/* ==== light mode and dark mode =========== */

.navbar {
    height: 70px;
    padding: 0 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--card-bg);

    border-bottom: 1px solid var(--border-color);

    transition: 0.3s;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-icon {
    font-size: 40px;
    color: #2563eb;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: 600;
    color: var(--text-color);
}

.user-email {
    font-size: 13px;
    color: #64748b;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Theme Button */

.theme-btn {

    width: 42px;
    height: 42px;

    border: none;

    border-radius: 50%;

    cursor: pointer;

    background: var(--bg-color);

    color: var(--text-color);

    transition: all .3s ease;
}

.theme-btn:hover {

    transform: rotate(20deg);

    background: #2563eb;
    color: white;
}

.theme-btn i {
    font-size: 18px;
}

/* Logout */

.logout-btn {

    border: none;

    padding: 10px 20px;

    border-radius: 10px;

    background: #ef4444;

    color: white;

    font-weight: 600;

    cursor: pointer;

    transition: .3s;
}

.logout-btn:hover {

    background: #dc2626;
}