<!-- <div class="page-container">

    <div class="page-header">
        <h2>Product Management</h2>
        <button class="add-btn" (click)="addProduct()">
            <i class="fas fa-plus"></i>
            Add Product
        </button>
    </div>
    <div class="table-card">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of paginatedProducts">
                    <td>{{ product.id }}</td>
                    <td>
                        <img [src]="product.image" alt="Product" class="product-image">
                    </td>
                    <td>
                        <span class="product-name" [attr.title]="product.name" data-bs-toggle="tooltip"
                            data-bs-placement="top">

                            {{
                            product.name.length > 10
                            ? (product.name | slice:0:10) + '...'
                            : product.name
                            }}

                        </span>
                    </td>
                    <td>{{ product.category }}</td>
                    <td>₹{{ product.price }}</td>
                    <td>
                        <span class="badge active">
                            {{ product.status }}
                        </span>
                    </td>

                    <td>
                        <button class="edit-btn" (click)="editProduct(product)">
                            <i class="fas fa-edit"></i>
                        </button>

                        <button class="delete-btn" (click)="openDeleteModal(product)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>

            </tbody>

        </table>

        <div class="pagination-container">

            <button class="pagination-btn" (click)="previousPage()" [disabled]="currentPage === 1">
                Previous
            </button>

            <span class="page-info">
                Page {{ currentPage }} of {{ totalPages }}
            </span>

            <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
                Next
            </button>

        </div>
    </div>

</div>

<div class="modal-overlay" *ngIf="showDeleteModal">

    <div class="modal-container">

        <div class="modal-icon">
            <i class="fas fa-trash-alt"></i>
        </div>

        <h3>Delete Product</h3>

        <p>
            Are you sure you want to delete
            <strong>{{ selectedProduct?.name }}</strong> ?
        </p>

        <div class="button-group">

            <button class="cancel-btn" (click)="closeDeleteModal()">
                Cancel
            </button>

            <button class="confirm-delete-btn" (click)="deleteProduct1()">
                Delete
            </button>

        </div>

    </div>

</div> -->


<!-- 
<app-dynamic-table
    title="Product Management"
    [columns]="productColumns"
    [data]="products"
    [showAddButton]="true"
    addButtonText="Add Product"
    redirectUrl="/add-products"
    [pageSizeOptions]="[5,10,20,50]"
    (edit)="editProduct($event)"
    (delete)="deleteProduct2($event)"
    >
</app-dynamic-table> -->



<app-dynamic-table
  title="Product Management"
  [columns]="productColumns"
  [data]="productData"
  [showAddButton]="true"
  [showSearch]="true"
  [loading]="loading"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [totalRecords]="totalRecords"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  (search)="onSearch($event)"
  [redirectUrl] = "rediectUrl"
  >
</app-dynamic-table>